<h1>Employee Details</h1>
<p>
  <strong>First Name:</strong>
  <%= @resource.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @resource.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @resource.email %>
</p>
<p>
  <strong>Department:</strong>
  <%= @resource.department %>
</p>
<p>
  <strong>Salary:</strong>
  <%= @resource.salary %>
</p>
<%= link_to 'Edit', edit_employee_path(@resource), class: "btn btn-warning" %>
<%= link_to 'Back', employees_path, class: "btn btn-secondary" %>
