<!DOCTYPE html>
<html>
  <head>
    <title>Ems</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="flash-messages">
      <% flash.each do |type, message| %>
        <div class="alert <%= alert_bootstrap_class(type) %> alert-dismissible fade show" role="alert">
          <p><%= notice %> <%= alert %></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
